<h1>Users</h1>

<% if @users.any? %>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Messages Sent</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.messages.count %></td> <!-- NUEVO -->
          <td>
            <%= link_to 'Show', user %> |
            <%= link_to 'Edit', edit_user_path(user) %> <!-- NUEVO -->
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% else %>
  <p>No users found.</p>
<% end %>

<div class="links">
  <%= link_to 'Add New User', new_user_path %>
  <%= link_to 'View Chats', chats_path %>
  <%= link_to 'Create New Message', new_message_path %>
</div>