<h1>User Details</h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<h2>Sent Chats</h2>
<% if @user.sent_chats.any? %>
  <ul>
    <% @user.sent_chats.each do |chat| %>
      <li><%= link_to "Chat with #{chat.receiver.email}", chat_path(chat) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No sent chats.</p>
<% end %>

<h2>Received Chats</h2>
<% if @user.received_chats.any? %>
  <ul>
    <% @user.received_chats.each do |chat| %>
      <li><%= link_to "Chat with #{chat.sender.email}", chat_path(chat) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No received chats.</p>
<% end %>

<h2>Messages Sent</h2>
<% if @user.messages.any? %>
  <ul>
    <% @user.messages.each do |msg| %>
      <li>
        To <%= msg.chat.receiver.email %>:
        "<%= truncate(msg.body, length: 50) %>"
        (<%= link_to 'View', message_path(msg) %>)
      </li>
    <% end %>
  </ul>
<% else %>
  <p>This user hasn't sent any messages.</p>
<% end %>

<%= link_to 'Edit User', edit_user_path(@user) %>

<div class="links">
  <%= link_to 'Back to Users', users_path %>
  <%= link_to 'Start a New Chat', new_chat_path %>
</div>